# all folders starting with _ are local
_*/

.DS_Store
**/.vscode

# byte-compiled python files
*.py[cod]

/.vs

cuopt-isaacsim-sample-extension/cuopt-isaacsim-demo/app.ipynb_checkpoints/
# Jupyter autosave dirs & files
**/.ipynb_checkpoints/
**/*-checkpoint.ipynb
**/*-checkpoint.*
